body{
    background-image: url("/images/clement-m-0vOoWtDiKXY-unsplash.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.westerosMap {
    width: 40%;
}

.westerosMap path {
    fill:#4a4a49;
    stroke: #060606;
}


.westerosMap .stark :hover {
    fill:rgb(175, 166, 166);
    background-image: url("/images/sigil_stark_small.jpg");
}

.westerosMap .targaryen :hover {
    fill:rgb(27, 26, 26);
}

.westerosMap .greyjoy :hover {
    fill:rgb(9, 9, 9);
}

.westerosMap .tyrell :hover {
    fill:rgb(34, 94, 36);
}

.westerosMap .arryn :hover {
    fill:rgb(34, 79, 205);
}

.westerosMap .lannister :hover {
    fill:rgb(150, 0, 0);
}

.westerosMap .tully :hover {
    fill:blue;
}

.westerosMap .martell :hover {
    fill:rgb(248, 127, 6);
}
.westerosMap .baratheon :hover {
    fill:rgb(248, 232, 56);
}

.bannerGoT {
    width: 100%;
}


.cardsCharacters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px 0 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Stark {
    margin: 3px;
    background-color: rgb(175, 166, 166)!important;
    color: black;

}

.Lannister {
    margin: 3px;
    background-color: rgb(150, 0, 0)!important;
    color: gold;

}

.Baratheon {
    margin: 3px;
    background-color:rgb(248, 232, 56)!important;
    color: #060606;

}

.Tyrell {
    margin: 3px;
    background-color: rgb(34, 94, 36)!important;
    color:  gold;

}

.Martell {
    margin: 3px;
    background-color: rgb(248, 127, 6)!important;
    color: darkred;

}

.Tully {
    margin: 3px;
    background-color: blue!important;
    color: whitesmoke;

}

.Greyjoy {
    margin: 3px;
    background-color: rgb(9, 9, 9)!important;
    color: gold;

}
.Targaryen {
    margin: 3px;
    background-color: rgb(9, 9, 9)!important;
    color: darkred;
}


img {
    height: 80px;
}

