body{
    background-image: url("/images/clement-m-0vOoWtDiKXY-unsplash.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.westerosMap {
    width: 45%;
    margin: auto;
}

.westerosMap path {
    fill:#6D6450;
    stroke: #3C434A;
}

a#North.stark {
    background-image: url("/images/sigil_stark_small.jpg");
}

.westerosMap .stark :hover {
    fill:rgb(175, 166, 166);
    background-image: url("/images/sigil_stark_small.jpg");
}

.westerosMap .targaryen :hover {
    fill:rgb(27, 26, 26);
}

.westerosMap .greyjoy :hover {
    fill:rgb(9, 9, 9);
}

.westerosMap .tyrell :hover {
    fill:rgb(34, 94, 36);
}

.westerosMap .arryn :hover {
    fill:rgb(34, 79, 205);
}

.westerosMap .lannister :hover {
    fill:rgb(150, 0, 0);
}

.westerosMap .tully :hover {
    fill:blue;
}

.westerosMap .martell :hover {
    fill:rgb(248, 127, 6);
}
.westerosMap .baratheon :hover {
    fill:rgb(248, 232, 56);
}

.bannerGoT {
    width: 70%;
}


.cardsCharacters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2px 0 0 0;
}

.card {
    margin: 3px;
    background-color: #B3977C;

}

img {
    height: 80px;
}

